<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>bookoflife| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--인생책-->
    <div class="mb-3 rounded-xl overflow-hidden shadow-2xl">
      <article>
        <div class="bg-[url('../../assets/images/feed/feed1back.jpg')] relative pt-7.5 bg-cover justify-center items-center flex flex-col">
          <h3 class="overflow-hidden relative px-4 font-bold text-xl text-center text-white">aurora 님이</h3>
          <h3 class="overflow-hidden relative px-4 mb-5 font-bold text-xl text-center text-white">인생책을 공유했어요.</h3>
          <div class="h-full">
            <div class="overflow-hidden relative z-[5] w-30">
              <a href="">
                <img src="../../assets/images/feed/feed1.jpg" alt="인생책1" />
              </a>
            </div>
          </div>
          <div class="border-b-gray-300 border-b relative p-5 bg-white rounded-t-xl">
            <a href="">
              <p class="overflow-hidden font-bold text-base overflow-ellipsis text-center text-black whitespace-nowrap">자살일기</p>
              <p class="pb-2 overflow-hidden text-sm overflow-ellipsis text-center text-gray-600 whitespace-nowrap">파블로다니엘</p>
              <p class="w-full overflow-hidden text-sm text-center text-gray-600 leading-5 whitespace-normal">
                현실적으로 조언을 해주며. 가식이 없다. 험난한 인생을 살아가면사 여러모로 배울점이 많은책
              </p>
            </a>
          </div>
        </div>
      </article>
      <div class="flex items-center bg-white h-11.25 w-full">
        <button class="flex-1 relative flex items-center justify-center text-xs text-gray-600">담기</button>
      </div>
    </div>
  </body>
</html>
