<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>highlights| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--하이라이트-->
    <div class="mb-3 rounded-2xl overflow-hidden shadow-2xl">
      <div class="border-b-gray-300 border-b h-19 flex bg-white p-3">
        <img class="w-12 h-12 mr-4 rounded-4xl" src="../../assets/icon/profile2.png" alt="" />
        <div class="overflow-hidden xl:pr-30">
          <p class="overflow-hidden flex items-center text-black text-sm font-bold">구성연</p>
          <p class="text-gray-600 text-xs">한 줄 리뷰 &#183; 2002.11.16</p>
        </div>
        <button class="mt-3 h-8 rounded-2xl bg-black text-white w-12 text-xs mr-2">팔로우</button>
        <img class="w-3 h-3 mt-5" src="../../assets/icon/plus.png" alt="더보기 버튼" />
      </div>
      <div class="flex flex-col border-b-gray-300 border-b relative py-9 text-center overflow-hidden items-center justify-center">
        <img class="mb-5 w-30 block overflow-hidden h-42 shadow-2xl relative" src="../../assets/images/feed/hiright1.jpg" alt="하이라이트1" />
        <a class="mb-5" href="">
          <p class="overflow-hidden text-base text-black font-bold whitespace-nowrap">나는 AI와 공부한다</p>
          <p class="mb-5 text-gray-600 text-xs">살만 칸 지음 / 박세연 옮김</p>
        </a>
        <a href="">
          <p class="text-sm items-center justify-center text-black font-bold">
            "악의적인 해커가 이러한 안전망을 뚫을 위험은 언제나 존재한다. 이러한 위험을 막기 위한 최고의 방법은 훈련을 통해 기본 모델이 개인 식별
            정보, 특히 아이들의 개인정보에 접근하지 "
          </p>
        </a>
      </div>
      <div class="flex items-center bg-white h-11.25 w-full">
        <button class="flex-1 relative flex items-center justify-center text-xs text-gray-600">담기</button>
      </div>
    </div>
  </body>
</html>
