<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>post| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--포스트-->
    <div class="mb-3 rounded-2xl overflow-hidden shadow-2xl">
      <div class="border-b-gray-300 border-b flex items-center bg-white p-3">
        <img class="w-12 h-12 mr-3 rounded-4xl" src="../../assets/icon/profile.png" alt="프로필 이미지" />
        <div class="flex-1 overflow-hidden mr-2 h-10">
          <p class="overflow-hidden flex items-center text-black text-sm font-bold">웃픽</p>
          <p class="text-gray-600 text-xs">포스트 &#183; 9시간 전</p>
        </div>
      </div>
      <div class="border-b-gray-300 border-b">
        <a class="text-left p-4 block" href="">
          <p class="text-black text-base font-bold mb-1">어느 mz직원의 사표</p>
          <p class="text-gray-600 text-sm h-25">
            웃음을 픽하는 유머 저장소, 웃픽입니다. 오늘의 유머는 아래와 같습니다. 재미난 하루되세요.어느 mz직원의 사표.jpg
          </p>
        </a>
      </div>
      <div class="flex items-center bg-white">
        <button class="flex-1 relative flex items-center justify-center py-3 text-xs text-gray-600">댓글 0</button>
        <button class="flex-1 relative flex items-center justify-center py-3 text-xs text-gray-600">좋아요 0</button>
      </div>
    </div>
  </body>
</html>
