<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>review| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--한줄리뷰-->
    <div class="mb-3 rounded-2xl overflow-hidden shadow-2xl">
      <div class="border-b-gray-300 border-b h-19 flex bg-white p-3">
        <img class="w-12 h-12 mr-4 rounded-4xl" src="../../assets/icon/profile3.png" alt="프로필 이미지" />
        <div class="overflow-hidden xl:pr-30">
          <p class="flex items-center text-black text-sm font-bold text-nowrap text-ellipsis">달콤한 순두부-84152</p>
          <p class="text-gray-600 text-xs text-nowrap text-ellipsis">한 줄 리뷰 &#183; 14분 전</p>
        </div>
        <button class="mt-3 h-8 rounded-2xl bg-black text-white w-12 text-xs mr-2">팔로우</button>
        <img class="w-3 h-3 mt-5 relative" src="../../assets/icon/plus.png" alt=" 더보기 버튼" />
      </div>
      <div class="border-b-gray-300 border-b bg-[linear-gradient(152deg,_#fff,_#00bfd8_42%,_#0083f5)]">
        <div>
          <p class="flex relative flex-col h-full justify-center p-9 items-center text-base">
            리뷰가 칭찬 일색이라 기대하고 봤는데.. 원하는 결말을 만들어내기 위한 짜맞추기같은 느낌.
          </p>
        </div>
        <div class="bg-white opacity-70 gap-25 relative overflow-hidden flex content-between">
          <div class="text-left p-4 w-60 block relative">
            <p class="overflow-hidden text-base overflow-ellipsis text-black font-bold whitespace-nowrap">돌이킬 수 있는</p>
            <p class="text-gray-600 text-xs">문목하 지음</p>
          </div>
          <img class="w-15" src="../../assets/images/feed/riview.jpeg" alt="리뷰도서" />
        </div>
      </div>
      <div class="flex items-center bg-white">
        <button class="flex-1 relative flex items-center justify-center py-3 text-xs text-gray-600">담기</button>
        <button class="flex-1 relative flex items-center justify-center py-3 text-xs text-gray-600">좋아요 0</button>
      </div>
    </div>
  </body>
</html>
