<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>select| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="h-11 leading-11 w-full">
      <!--선택창-->
      <div class="bg-white border-b-gray-300 border-b">
        <div class="lg:pl-30 pl-3">
          <ul class="h-16 items-center inline-flex whitespace-nowrap p-0 gap-2">
            <li class="list-none">
              <button class="bg-black text-white text-sm py-1.5 px-4 rounded-3xl">전체</button>
            </li>
            <li class="list-none">
              <button class="bg-gray-100 text-black text-sm py-1.5 px-4 rounded-3xl">포스트</button>
            </li>
            <li class="list-none">
              <button class="bg-gray-100 text-black text-sm py-1.5 px-4 rounded-3xl">한 줄 리뷰</button>
            </li>
            <li class="list-none">
              <button class="bg-gray-100 text-black text-sm py-1.5 px-4 rounded-3xl">하이라이트</button>
            </li>
            <li class="list-none">
              <button class="bg-gray-100 text-black text-sm py-1.5 px-4 rounded-3xl">인생책</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
