<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>subheader| 윌리의 서제</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="h-11 leading-11 w-full">
      <!--서브헤더-->
      <div class="border-b-gray-300 border-b top-16 z-[1] bg-white static">
        <div class="mx-auto my-0 flex items-center justify-between pl-3 lg:pl-30 pr-6">
          <ul class="list-disc flex items-center">
            <li class="block list-none">
              <span class="font-bold relative text-base text-black p-3">추천</span>
            </li>
            <li class="block list-none">
              <span class="font-bold relative text-base text-black p-3">팔로잉</span>
            </li>
          </ul>
          <button class="w-12 h-12 bg-white outline-0">
            <img src="../../assets/icon/write.png" alt="글쓰기 버튼" />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
