<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>밀리 랭킹 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans p-10">
    <div class="mb-5" data-group="willie-ranking">
      <button
        type="button"
        role="tab"
        class="accent-btn button-active inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="false"
      >
        종합
      </button>

      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        소설
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        경제/경영
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        자기계발
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        시/에세이
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        인문/교양
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        취미/실용
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        어린이/청소년
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        매거진
      </button>
      <button
        type="button"
        role="tab"
        class="accent-btn button-inactive inline-flex justify-center items-center h-8 px-3 rounded-[1.125rem] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer"
        aria-selected="true"
      >
        판타지/무협
      </button>
    </div>

    <div class="inline-flex items-center justify-between bg-white p-4 rounded-lg shadow-md min-w-md">
      <div class="flex items-center space-x-4 w-full">
        <!-- 이미지 (크기 조정) -->
        <img src="../../assets/images/section-02-01-xl.webp" alt="도서 표지" class="w-20 h-28 rounded-lg flex-shrink-0" />
        <!-- 텍스트 정보 -->
        <div class="flex-1 max-w-36">
          <h2 class="text-xl font-bold text-gray-900 truncate">율의 시선입니다!!!!!!!!!!!!!!!!</h2>
          <p class="text-gray-500 truncate">김민서</p>
        </div>
      </div>
      <!-- 랭킹 변동 -->
      <p class="text-sm text-red-500 flex items-center flex-shrink-0">▲ 1</p>
    </div>
  </body>
</html>
