<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>강조된 인용문 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <div class="daily-quote">
      <article class="flex justify-center items-center text-center rounded-xl w-[16.25rem] min-h-[15rem] my-4 shadow-md">
        <blockquote id="quote-text" class="text-(length:--font-size-lg) break-keep">가제 택스트</blockquote>
      </article>
    </div>
  </body>
</html>
