<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이럴떈 이런 책| 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--이럴떈 이런 책-->
    <section class="w-full h-full">
      <div class="overflow-hidden">
        <ul class="pt-4 inline-flex pl-6 gap-2">
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">
                살다가 현타올 때 멘탈잡기 좋은 책
              </p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                쉬운게 하나도 없는 요즘, 인생에 현타올 때 마음을 다잡을 수 있는 책 추천해주시면 감사하겠습니다.
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-01-01-xl.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-01-02-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-01-03- xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-01-04-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-01-05-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">
                직장생활 화를 다스리는방법을 알고싶어요
              </p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                직장생활하면서 스트레스가 쌓였는데 문제는 그만둘수가 없고 계속 다녀야하는데 화를 어떻게 다스려야하는지 알고 싶어요 이런 문제에
                조언해줄수 있는책을 추천받고싶어요
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-02-01-xl.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-02-02-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-03-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-02-04-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-05-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">
                한살이라도 더 어릴 때 알았다면 좋았을 책
              </p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                중학교 3학년 학생입니다. 새로 시작하는 단계에서 고민이 많아 진로도 쉽사리 결정을 내리지 못하고 있어요. 각자 마음에 담아두시는 위
                제목의 책을 추천받아요. 종류 안가립니다.
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-03-xl.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-04-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-05-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-06-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-07-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">인생의 터닝포인트</p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                40대 나이가 되고 뒤를 돌아볼 시기와 앞으로 살아갈 날의 대한 반성의 책
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-09-sm.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-02-04-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-sm.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-07-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-10-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">외로울 때</p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                혼자여도 행복하고 싶어요 외로울 때 위로가 되는 책 추천해주세요
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-02-04-sm.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-10-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-02-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-08-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-05-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">몰입하기 좋은 책</p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                퇴근하고 나만의 공간에서 후루룩 읽기 좋은 책 추천 부탁드려요
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-03-xl.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-02-04-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-10-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-09-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-05-xl.webp" alt="" />
              </div>
            </div>
          </li>
          <li class="bg-white shadow-2xl rounded-2xl w-70 p-2">
            <a href="" class="block">
              <p class="mb-2 overflow-hidden hitespace-nowrap overflow-ellipsis break-all font-bold text-base h-5">역사</p>
              <p class="overflow-hidden text-ellipsis break-all text-sm text-gray-400 h-15">
                역사 소설 또는 역사에 관한 책 추천해주세요 역사 공부 책이 아닌, 역사를 재미있게 접할 수 있는 책 원합니다 ! 한국, 외국 상관 없어요
              </p>
            </a>
            <div class="flex mt-4">
              <img class="w-30 h-42 rounded-2xl mr-2" src="../../assets/images/section-07-08-xl.webp" alt="" />
              <div class="flex flex-wrap flex-1">
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-10-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-02-02-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl mr-2" src="../../assets/images/section-07-02-05-xl.webp" alt="" />
                <img class="w-14 h-20 rounded-2xl" src="../../assets/images/section-07-08-xl.webp" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
