<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>오늘 읽어야 할 단 한 권| 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <section class="flex flex-col md:flex-row lg:py-[2.5rem] justify-center items-center lg:gap-3 today-must-read rounded-2xl">
      <div class="md:w-[50%] lg:w-[20.625rem] lg:rounded-lg today-must-read-img lg:overflow-hidden">
        <span class="rounded-lg"></span>
        <figure class="flex justify-center p-10">
          <img
            srcset="../../assets/images/section-02-03-lg.webp 2x, ../../assets/images/section-02-03-sm.webp 1x"
            src="../../assets/images/section-02-03-sm.webp"
            alt="밑줄과 생각 책 표지"
            class="shadow-md rounded-lg"
          />
        </figure>
      </div>
      <main class="flex flex-col md:w-[50%] lg:w-[20.625rem] h-auto md:h-[23rem] p-4 bg-white/80 lg:rounded-lg text-(length:--font-size-sm)">
        <div class="flex items-center">
          <p class="w-[3rem]"><img src="../../assets/logo/willie-logo.svg" alt="프론트 엔드 멋사들 프로필 사진" /></p>
          <div>
            <h3 class="font-black">프론트엔드 13기 멋사들</h3>
            <span class="text-gray-500"> 슬비 선생님의 선택</span>
          </div>
        </div>
        <div class="flex justify-center items-center flex-1 text-center rounded-xl my-4 daily-quote-read">
          <blockquote id="quote-text" class="break-keep" role="blockquote">
            깊이 있는 문장과 감각적인 고백이 우리에게 감동과 깨달음을 선사해요. 읽기와 쓰기가 주는 의미를 담아낸 소중한 산문집이랍니다!
          </blockquote>
        </div>
        <nav aria-label="추천 사항">
          <ul class="border-t border-gray-400 pt-3 pl-6" role="list">
            <li>정용준 작가의 신간</li>
            <li>읽고 쓰는 기쁨을 공유하고 싶다면?</li>
          </ul>
        </nav>
      </main>
    </section>
  </body>
</html>
