<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>독서활동 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--독서 활동-->
    <section class="flex w-full flex-col py-6 gap-3 overflow-hidden">
      <div lass="flex relative flex-col gap-0.5">
        <h4 class="flex font-bold text-xl w-full">독서 활동</h4>
      </div>
      <div class="flex w-full h-full">
        <div class="mr-3 relative flex w-39.25 h-40 flex-col bg-gray-100">
          <a class="p-4 font-bold w-full h-full relative" href="">
            <div class="flex flex-col gap0.5">
              <p class="font-bold text-xs">나의 인생책</p>
              <p class="font-bold text-sm">설정하기</p>
            </div>
            <img class="absolute right-3 bottom-3 w-17 h-17" src="/public/assets/icon/bookoflife.png" alt="" />
          </a>
        </div>
        <div class="mr-3 relative flex w-39.25 h-40 flex-col bg-gray-100">
          <a class="p-4 font-bold w-full h-full relative" href="">
            <div class="flex flex-col gap0.5">
              <p class="font-bold text-xs">나의 관심사</p>
              <p class="font-bold text-sm">설정하기</p>
            </div>
            <img class="absolute right-3 bottom-3 w-17 h-17" src="/public/assets/icon/interest.png" alt="" />
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
