<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>광고 | 윌리의 서재</title>
    <link rel="icon" href="/public/assets/logo/willie-logo.svg" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--광고-->
    <div class="relative mt-4">
      <img class="object-cover w-full h-15.5 opacity-0 xl:opacity-100" src="/public/assets/icon/subscribe.png" alt="" />
      <img class="absolute bottom-0 inset-x-0 w-full h-15.5 opacity-100 xl:opacity-0" src="/public/assets/icon/subscribe2.png" alt="" />
    </div>
  </body>
</html>
