<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>리포트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--독서 리포트-->
    <section class="flex w-full flex-col py-6 gap-3 overflow-hidden">
      <div lass="flex relative flex-col gap-0.5">
        <h4 class="flex font-bold text-xl w-full">독서 리포트</h4>
        <p class="text-sm">밀리 회원들은 한 달 평균 2권 읽어요</p>
      </div>
      <div>
        <ul class="flex flex-col gap-1 xl:flex-row xl:gap-6">
          <li class="w-full h-5">
            <span class="table-cell pr-2 whitespace-nowrap text-sm">나&emsp;</span>
            <div class="table-cell relative w-full h-full bg-gray-100"></div>
            <span class="table-cell pl-2 whitespace-nowrap font-bold text-sm">0권</span>
          </li>
          <li class="w-full h-5">
            <span class="table-cell pr-2 whitespace-nowrap text-sm">밀리</span>
            <div class="table-cell relative w-full h-full bg-gray-100">
              <div class="w-2/5 h-5 bg-gray-300"></div>
            </div>
            <span class="table-cell pl-2 whitespace-nowrap font-bold text-sm">2권</span>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
