<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>서브헤더 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--서브헤더-->
    <div class="z-1 top-0 sticky bg-white">
      <div class="w-full h-9.5 items-end">
        <div class="text-base pr-5 flex items-center justify-between h-full xl:pr-6">
          <h4 class="opacity-100 pl-5 font-bold text-2xl xl:opacity-0">내 서재</h4>
          <button class="flex w-6 h-6 p-1.5 border-0 cursor-pointer bg-white">
            <img src="../../assets/icon/plus.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
