<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>글쓰기 버튼 | 윌리의 서재</title>
    <link rel="icon" href="/public/assets/logo/willie-logo.svg" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--글쓰기 버튼-->
    <div class="flex gap-3">
      <button class="h-10 flex items-center justify-center w-full text-base bg-black text-white rounded-full">글쓰기</button>
      <button class="h-10 flex items-center justify-center w-full text-base bg-white text-black rounded-full border-1">도서 담기</button>
    </div>
  </body>
</html>
