<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>밀리 오리지널| 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--밀리의 오리지널-->
    <section>
      <div class="flex flex-nowrap overflow-x-auto scrollbar-none gap-2 p-5">
        <img
          class="w-[273px] rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="../../assets/images/section-05-01.webp"
          alt="밀리의 오리지널-1"
        />
        <img
          class="w-[273px] rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="../../assets/images/section-05-02.webp"
          alt="밀리의 오리지널-2"
        />
        <img
          class="w-[273px] rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="../../assets/images/section-05-03.webp"
          alt="밀리의 오리지널-3"
        />
        <img
          class="w-[273px] rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="../../assets/images/section-05-04.webp"
          alt="밀리의 오리지널-4"
        />
        <img
          class="w-[273px] rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="../../assets/images/section-05-05.webp"
          alt="밀리의 오리지널-5"
        />
      </div>
    </section>
  </body>
</html>
