<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>오늘의 한 문장 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <section class="flex justify-center items-center text-center font-NotoSerifKR daily-quote py-10">
      <a href="#void" aria-labelledby="quote-title" aria-describedby="quote-text">
        <h4 class="font-bold text-2xl" id="quote-title">철석같은 심장</h4>
        <article class="flex justify-center items-center text-center rounded-xl w-[16.25rem] min-h-[15rem] my-4 shadow-md">
          <blockquote id="quote-text" class="text-(length:--font-size-lg) break-keep">
            내 심장은 강철같이 진실한데. 끄는 힘을 버리면 그대 쫓는 내 힘도 없어질 거예요.
          </blockquote>
        </article>
        <cite class="not-italic text-(length:--font-size-sm)">윌리엄 셰익스피어, &lang;&lang;한여름 밤의 꿈&rang;&rang;</cite>
      </a>
    </section>
  </body>
</html>
