<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>윌리의 서제</title>
    <link rel="icon" href="/public/assets/logo/willie-logo.svg" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <details class="group text-xs text-gray-500">
      <summary class="flex items-center justify-between cursor-pointer p-2 select-none">
        <span class="flex items-center gap-1">
          사업자 정보 펼쳐보기
          <span class="transition-transform group-open:rotate-180">&#9660;</span>
        </span>
      </summary>
      <div class="flex flex-row flex-wrap">
        <p><strong>대표이사:</strong> 박현진</p>
        <p><strong>사업자등록번호:</strong> 423-88-00370</p>
        <p><strong>호스팅 제공자:</strong> (주)밀리의 서재</p>
        <p><strong>통신판매업 신고번호:</strong> 2016-서울마포-2012호</p>
        <p><strong>주소:</strong> 서울특별시 마포구 양화로 45, 16층 (메세나폴리스 세아타워)</p>
        <p><strong>개인정보보호 관련 문의:</strong> privacy@millie.town</p>
        <p><strong>마케팅 제휴 문의:</strong> business@millie.town</p>
        <p><strong>고객센터:</strong> 070-7510-5415</p>
      </div>
    </details>
  </body>
</html>
