<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>카드 컴포넌트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans p-6">
    <!-- 카드 컴포넌트 -->
    <h1 class="text-2xl font-bold mb-5">카드 컴포넌트</h1>
    <h2 class="m-3">프로모션카드</h2>
     <ul>
      <li
        class="lg:h-[100px] relative flex items-start px-4 py-[19px] rounded-lg bg-white text-[var(--gray-14)]  lg:p-5 shadow-[0_0_20px_1px_rgba(0,0,0,0.1)]"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold text-[20px] mb-1">김태리 목소리로 듣는</p>
          <p class="text-xs text-[var(--gray-09)] text-[14px]">김애란 단편집 ⟪바깥은 여름⟫</p>
        </div>
        <img class="absolute -right-0.5 top-2/5 transform -translate-y-1/2" src="../../assets/images/promotion-taeri.webp" alt="리딩 케미스트리 이미지" />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      </ul>
    <h2 class="m-3">이벤트 카드</h2>
    <ul class="grid lg:grid-cols-2 gap-3">
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-[#D06686] border text-white border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">밀리캐스트</p>
          <p class="text-xs lg:text-[14px]">리딩 케미스트리</p>
        </div>
        <img class="ml-auto absolute right-2 top-0 max-w-[80px] lg:max-w-none" src="../../assets/images/audiobook-1.webp" alt="리딩 케미스트리 이미지" />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-[#2C9285] border text-white border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img class="ml-auto absolute right-2 top-0 max-w-[80px] lg:max-w-none" src="../../assets/images/audiobook-2.webp" alt="도슨트북 이미지" />
      <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>


    <h2 class="m-3">북 카테고리 카드</h2>
    <ul class="grid lg:grid-cols-2 gap-3">
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none" src="../../assets/images/section-01-02-sm.webp" alt="오브제북 이미지" />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none" src="../../assets/images/section-01-02-sm.webp" alt="도슨트북 이미지" />
      <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>
    <h2 class="m-3">작가의책 모아보기 카드</h2>
    <ul class="grid grid-cols-2 gap-3">
      <li class="flex items-center justify-between p-3 rounded-lg bg-[#EF5D5E] border text-white border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#이희영</span>
          <img class="ml-auto w-[16px]" src="../../assets/icon/new-icon 1.svg" alt="이희영 작가의 책 모아보기 신규소식" />
        </a>
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-[#946CEA] border text-white border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#김애란</span>
          <img class="ml-auto w-[16px]" src="../../assets/icon/new-icon 1.svg" alt="김애란 작가의 책 모아보기 신규소식" />
        </a>
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#다카노 가즈아키</span>
          <img class="hidden" src="" alt="" />
        </a>
      </li>
    </ul>
    <h2 class="m-3">컬렉션 카드</h2>
    <ul class="grid grid-cols-2 gap-3">
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-9.svg"
            alt="책-잇 아티클 바로가기"
          />
          <span class="font-bold">책-잇</span></a
        >
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/"
          ><img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-1.svg"
            alt="밀리봐봐 아티클 바로가기"
          />
          <span class="font-bold">밀리봐봐</span></a
        >
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/"
          ><img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-9.svg"
            alt="책-잇 아티클 바로가기"
          />
          <span class="font-bold">책-잇</span></a
        >
      </li>
    </ul>
  </body>
</html>
