<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>추천 검색어 컴포넌트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
      <h1 class="text-2xl font-bold">추천 검색어 컴포넌트</h1>
    <!-- 추천 검색어 컴포넌트 -->
    <div class="w-full max-w-[1440px] overflow-x-auto">
      <ul class="flex flex-wrap px-6 pb-6 pt-3 gap-2">
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
