<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>바로가기 컴포넌트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <!-- 바로가기 컴포넌트 -->
    <div class="pt-3 pb-2">
      <ul class="grid grid-cols-2 lg:grid-cols-4">
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
