<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>검색 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
    <script type="module" src="/src/components/search/search.js"></script>
  </head>
  <body class="font-sans">
    <!-- 검색창 -->
    <form action="/">
      <fieldset>
        <legend class="sr-only">검색 폼</legend>
        <div class="flex items-center gap-2 p-5">
          <div class="flex-1">
            <label for="searchInput" class="sr-only">검색어</label>
            <input
              id="searchInput"
              type="search"
              name="keyword"
              required
              class="w-full bg-[var(--gray-02)] rounded-3xl py-3 px-5 pl-12 pr-4 text-sm text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[var(--gray-06)]"
              placeholder="검색어를 입력하세요"
            />
          </div>
          <button type="button" id="searchButton" class="p-2 left-4 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="20px" height="20px">
              <path
                d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
                role="img"
                aria-label="검색"
              />
            </svg>
          </button>
        </div>
      </fieldset>
    </form>
    <!-- 랭킹 -->
    <!-- 랭킹 타이틀 -->
    <section class="ranking max-w-[1440px] mx-auto">
      <div class="ranking-title flex items-center justify-between p-4 cursor-pointer" id="ranking-toggle">
        <p class="ranking-text text-xs font-medium text-[var(--gray-10)]">인기검색어</p>
        <span class="text-xs text-[var(--gray-10)] mr-auto ml-4">2025.03.21 12:00 기준</span>
        <svg
          id="chevron-icon"
          class="w-5 h-5 text-gray-600 transition-transform"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
      <!-- 랭킹 리스트 -->
      <ol id="rank-list" class="rank-list hidden">
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">1</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">2</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">3</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">4</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">5</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">6</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
        <li class="py-3 px-4">
          <a href="/" class="flex items-center w-full">
            <em class="not-italic font-medium text-sm mr-4 w-5">7</em>
            <p class="text-sm mr-3">한강</p>
            <img src="../../assets/icon/rank-up.png" alt="한강 검색어 랭크업" class="w-3" />
          </a>
        </li>
      </ol>
    </section>
    <!-- 밀리 추천 검색어 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">밀리 추천 검색어</h3>
    <!-- 추천 검색어 컴포넌트 -->
    <div class="w-full max-w-[1440px] overflow-x-auto">
      <ul class="flex flex-wrap px-6 pb-6 pt-3 gap-2">
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
        <li>
          <a
            class="inline-flex justify-center items-center h-8 px-3 border border-[var(--gray-05)] rounded-[1.125rem] text-[var(--gray-10)] text-(length:--font-size-sm) leading-(--line-height-xs) bg-(--light-ui-background) cursor-pointer whitespace-nowrap"
          >
            김태리 오디오북
          </a>
        </li>
      </ul>
    </div>
    <!-- 바로가기 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">바로가기</h3>
    <!-- 바로가기 컴포넌트 -->
    <div class="pt-3 pb-2">
      <ul class="grid grid-cols-2 lg:grid-cols-4">
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white lg:max-w-[200px]">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
        <li class="flex items-center justify-between p-3 bg-white">
          <a class="flex items-center gap-2 w-full" href="/">
            <img class="w-10" src="../../assets/icon/best-i.png" alt="책-잇 아티클 바로가기" />
            <span class="text-[var(--gray-14)]">밀리 랭킹</span></a
          >
        </li>
      </ul>
    </div>
    <!-- 프로모션 카드 -->
    <ul>
      <li
        class="lg:h-[100px] relative flex items-start px-4 py-[19px] rounded-lg bg-white text-[var(--gray-14)] lg:p-5 shadow-[0_0_20px_1px_rgba(0,0,0,0.1)]"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold text-[20px] mb-1">김태리 목소리로 듣는</p>
          <p class="text-xs text-[var(--gray-09)] text-[14px]">김애란 단편집 ⟪바깥은 여름⟫</p>
        </div>
        <img
          class="absolute -right-0.5 top-2/5 transform -translate-y-1/2"
          src="../../assets/images/promotion-taeri.webp"
          alt="리딩 케미스트리 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>
    <!-- 영역분리(hr) -->
    <hr />
    <!-- 네비게이션 컴포넌트 -->
    <div class="nav p-4">
      <ul class="nav-list flex space-x-6 text-[var(--gray-14)]">
        <li><a href="#category" data-id="category" class="nav-link">카테고리</a></li>
        <li><a href="#audio" data-id="audio" class="nav-link">오디오</a></li>
        <li><a href="#author" data-id="author" class="nav-link">작가</a></li>
        <li><a href="#collection" data-id="collection" class="nav-link">컬렉션</a></li>
      </ul>
    </div>
    <!-- 카테고리 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">카테고리</h3>
    <ul class="grid lg:grid-cols-2 gap-3">
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img
          class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none"
          src="../../assets/images/section-01-02-sm.webp"
          alt="오브제북 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img
          class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none"
          src="../../assets/images/section-01-02-sm.webp"
          alt="도슨트북 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>
    <!-- 오디오 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">오디오</h3>
    <ul class="grid lg:grid-cols-2 gap-3">
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-[#D06686] border text-white border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">밀리캐스트</p>
          <p class="text-xs lg:text-[14px]">리딩 케미스트리</p>
        </div>
        <img
          class="ml-auto absolute right-2 top-0 max-w-[80px] lg:max-w-none"
          src="../../assets/images/audiobook-1.webp"
          alt="리딩 케미스트리 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-[#2C9285] border text-white border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img class="ml-auto absolute right-2 top-0 max-w-[80px] lg:max-w-none" src="../../assets/images/audiobook-2.webp" alt="도슨트북 이미지" />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>
    <ul class="grid lg:grid-cols-2 gap-3">
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img
          class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none"
          src="../../assets/images/section-01-02-sm.webp"
          alt="오브제북 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
      <li
        class="lg:h-[128px] relative flex items-center px-4 py-[19px] rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5 overflow-hidden"
      >
        <div class="flex flex-col z-10">
          <p class="font-bold mb-0.5 lg:text-[20px] lg:mb-[10px]">오브제북</p>
          <p class="text-xs text-[var(--gray-09)] lg:text-[14px]">활자를 넘어 아름다운 그림과 음악을 함께 감상하는 책</p>
        </div>
        <img
          class="ml-auto absolute right-2 top-0 rotate-12 max-w-[100px] lg:max-w-none"
          src="../../assets/images/section-01-02-sm.webp"
          alt="도슨트북 이미지"
        />
        <a href="/" class="absolute inset-0 w-full h-full"></a>
      </li>
    </ul>
    <!-- 작가의 책 모아보기 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">작가의 책 모아보기</h3>
    <ul class="grid grid-cols-2 gap-3">
      <li class="flex items-center justify-between p-3 rounded-lg bg-[#EF5D5E] border text-white border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#이희영</span>
          <img class="ml-auto w-[16px]" src="../../assets/icon/new-icon 1.svg" alt="이희영 작가의 책 모아보기 신규소식" />
        </a>
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-[#946CEA] border text-white border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#김애란</span>
          <img class="ml-auto w-[16px]" src="../../assets/icon/new-icon 1.svg" alt="김애란 작가의 책 모아보기 신규소식" />
        </a>
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <span class="font-bold">#다카노 가즈아키</span>
          <img class="hidden" src="" alt="" />
        </a>
      </li>
    </ul>
    <!-- 컬렉션 -->
    <h3 class="text-(length:--font-size-lg) font-(--font-weight-bold) text-(--light-ui-10)">컬렉션</h3>
    <h4 class="text-(length:--font-size-sm) font-(--font-weight-norma) text-(--dark-ui-05)">밀리가 만드는 다양한 아티클을 확인해보세요!</h4>
    <ul class="grid grid-cols-2 gap-3">
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/">
          <img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-9.svg"
            alt="책-잇 아티클 바로가기"
          />
          <span class="font-bold">책-잇</span></a
        >
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/"
          ><img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-1.svg"
            alt="밀리봐봐 아티클 바로가기"
          />
          <span class="font-bold">밀리봐봐</span></a
        >
      </li>
      <li class="flex items-center justify-between p-3 rounded-lg bg-white border text-[var(--gray-14)] border-[var(--gray-06)] lg:p-5">
        <a class="flex items-center gap-2 w-full" href="/"
          ><img
            class="border rounded-full border-[var(--gray-05)] shadow-2xs max-w-[30px] lg:max-w-none"
            src="../../assets/icon/collection-Image-9.svg"
            alt="책-잇 아티클 바로가기"
          />
          <span class="font-bold">책-잇</span></a
        >
      </li>
    </ul>
  </body>
</html>
