<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>검색창 컴포넌트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <!-- 검색창 -->
    <form action="/">
      <fieldset>
        <legend class="sr-only">검색 폼</legend>
        <div class="flex items-center gap-2 p-5">
          <div class="flex-1">
            <label for="searchInput" class="sr-only">검색어</label>
            <input
              id="searchInput"
              type="search"
              name="keyword"
              required
              class="w-full bg-[var(--gray-02)] rounded-3xl py-3 px-5 pl-12 pr-4 text-sm text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[var(--gray-06)]"
              placeholder="검색어를 입력하세요"
            />
          </div>
          <button type="button" id="searchButton" class="p-2 left-4 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="20px" height="20px">
              <path
                d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
                role="img"
                aria-label="검색"
              />
            </svg>
          </button>
        </div>
      </fieldset>
    </form>


    <!-- 검색어 미입력 시 팝업창 -->
    <script>
      document.getElementById('searchButton').addEventListener('click', function () {
        const searchInput = document.getElementById('searchInput');
        if (!searchInput.value.trim()) {
          alert('검색어를 입력하세요.');
        }
      });
    </script>
  </body>
</html>
