<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>background 컴포넌트 | 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <h1>background 컴포넌트</h1>

    <!-- 데스크탑에서만 보이는 배경 이미지 -->
    <div
      class="hidden md:block w-full h-full absolute top-0 left-0 z-0"
      style="background-image: url('/public/assets/promotion_intro_bg_2024.jpg'); background-size: cover; background-position: center"
    ></div>
  </body>
</html>
