<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>밀리 오리지널| 윌리의 서재</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!--밀리의 오리지널-->
    <section class="w-full h-full">
      <div class="flex overflow-hidden flex-row flex-nowrap gap-2 p-10">
        <img
          class="w-1/6 h-1/6 rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="./이미지/section-05-01.webp"
          alt=""
        />
        <img
          class="w-1/6 h-1/6 rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="./이미지/section-05-02.webp"
          alt=""
        />
        <img
          class="w-1/6 h-1/6 rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="./이미지/section-05-03.webp"
          alt=""
        />
        <img
          class="w-1/6 h-1/6 rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="./이미지/section-05-04.webp"
          alt=""
        />
        <img
          class="w-1/6 h-1/6 rounded-2xl opacity-50 hover:opacity-100 hover:scale-110 transition-transform ease-in-out duration-500"
          src="./이미지/section-05-05.webp"
          alt=""
        />
      </div>
    </section>
  </body>
</html>
