@import 'tailwindcss';

@theme {
  --font-sans: 'Spoqa Han Sans Neo', sans-serif;

  /* Light Theme */
  --light-ui-background: #ffffff;
  --light-ui-01: #fafaf6;
  --light-ui-02: #f7f7f7;
  --light-ui-03: #f5f4f3;
  --light-ui-04: #f6f4ee;
  --light-ui-05: #ececec;
  --light-ui-06: #dfdfdf;
  --light-ui-07: #a7a39a;
  --light-ui-08: #555555;
  --light-ui-09: #333333;
  --light-ui-10: #242424;
  --light-primary: #ffeb60;
  --light-primary-press: #ffe04b;
  --light-secondary: #333333;
  --light-secondary-press: #242424;
  --light-tertiary: #ffffff;
  --light-tertiary-press: #f7f7f7;
  --light-danger: #df1d1d;
  --light-danger-press: #bc1a1a;
  --light-cancel: #c1c1c1;
  --light-cancel-press: #a5a5a5;
  --light-success: #0073cb;
  --light-error: #f05c2e;
  --light-text-strong: #000000;
  --light-text-01: #242424;
  --light-text-02: #555555;
  --light-text-03: #6f6f6f;
  --light-text-04: #8b8b8b;

  /* Dark Theme */
  --dark-ui-background: #171717;
  --dark-ui-01: #242424;
  --dark-ui-02: #333333;
  --dark-ui-03: #3d3d3d;
  --dark-ui-04: #555555;
  --dark-ui-05: #6f6f6f;
  --dark-ui-06: #8b8b8b;
  --dark-ui-07: #a5a5a5;
  --dark-ui-08: #c1c1c1;
  --dark-ui-09: #ececec;
  --dark-ui-10: #f5f4f3;
  --dark-primary: #fef08c;
  --dark-primary-press: #fff7bf;
  --dark-secondary: #fbfbfb;
  --dark-secondary-press: #ffffff;
  --dark-tertiary: #171717;
  --dark-tertiary-press: #333333;
  --dark-danger: #f5511d;
  --dark-danger-press: #eb683f;
  --dark-cancel: #6f6f6f;
  --dark-cancel-press: #8b8b8b;
  --dark-success: #6ab6f0;
  --dark-error: #ff784d;
  --dark-text-strong: #ffffff;
  --dark-text-01: #fbfbfb;
  --dark-text-02: #dfdfdf;
  --dark-text-03: #c1c1c1;
  --dark-text-04: #a5a5a5;

  /* Gray Shades */
  --gray-01: #fbfbfb;
  --gray-02: #f7f7f7;
  --gray-03: #f5f4f3;
  --gray-04: #efefef;
  --gray-05: #ececec;
  --gray-06: #dfdfdf;
  --gray-07: #c1c1c1;
  --gray-08: #a5a5a5;
  --gray-09: #8b8b8b;
  --gray-10: #6f6f6f;
  --gray-11: #555555;
  --gray-12: #3d3d3d;
  --gray-13: #333333;
  --gray-14: #242424;
  --gray-15: #171717;

  /* Yellow Shades */
  --yellow-01: #fffbe1;
  --yellow-02: #fff7bf;
  --yellow-03: #fef08c;
  --yellow-04: #ffef7b;
  --yellow-05: #ffeb60;
  --yellow-06: #ffe04b;
  --yellow-07: #ffd334;
  --yellow-08: #ffc71e;
  --yellow-09: #ffb904;
  --yellow-10: #e7aa0e;
  --yellow-11: #d09c16;
  --yellow-12: #aa8525;

  /* Red Shades */
  --red-01: #ffc2af;
  --red-02: #ff9d7e;
  --red-03: #ff784d;
  --red-04: #f57046;
  --red-05: #eb683f;
  --red-06: #f05c2e;
  --red-07: #f5511d;
  --red-08: #e9462b;
  --red-09: #e7301d;
  --red-10: #df1d1d;
  --red-11: #d21c1c;
  --red-12: #bc1a1a;

  /* Blue Shades */
  --blue-01: #d2e7f8;
  --blue-02: #b5d8f4;
  --blue-03: #98c9ef;
  --blue-04: #81bfef;
  --blue-05: #6ab6f0;
  --blue-06: #469fe3;
  --blue-07: #2087d6;
  --blue-08: #0073cb;
  --blue-09: #0166b3;
  --blue-10: #01599d;
  --blue-11: #014d88;
  --blue-12: #014274;

  /* text */
  /* Font Weights */
  --font-weight-bold: bold;
  --font-weight-regular: normal;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;

  /* Line Heights */
  --line-height-5xl: 52px;
  --line-height-4xl: 46px;
  --line-height-3xl: 42px;
  --line-height-2xl: 38px;
  --line-height-xl: 34px;
  --line-height-lg: 28px;
  --line-height-md: 24px;
  --line-height-sm: 22px;
  --line-height-xs: 20px;
  --line-height-xxs: 18px;

  /* Letter Spacing */
  --letter-spacing-default: -0.6px;

  /* Paragraph Spacing */
  --paragraph-spacing-default: 0px;
}
:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
/*초기화*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.6px;
}
a,a:link,a:visited{
  text-decoration: none;
}
ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
}
li{
  list-style: none;
}
body{
  font-weight: 400;
  font-size: 14px;
  color: #242424;
}
/*헤더*/
header{
  position: fixed;
  background-color: white;
  top:0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ededed;
}
header .container{
  display: flex;
  height: 64px;
  padding: 0px 4.25%;
}
/*헤더-로고*/
.header-logo{
  width: 50px;
  height: 100%;
}
.header-logo a{
  height: inherit;
  display: flex;
  align-items: center;
}
.header-logo img{
  width: 50px;
  height: 21px;
}
/*헤더-요소*/
.header-element{
  height: 100%;
  margin-left: 24px;
}
.header-element ul{
  display: flex;
  flex-direction: row;
}
.header-element a{
  display: flex;
  width: 100%;
  height: inherit;
  padding: 0px 24px;
  font-size: 20px;
  font-weight: 400;
  color: #242424;
}
.header-element a.select{
  font-weight: 700;
}
/*헤더-버튼*/
.header-button{
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: auto;
}
.header-button a img{
  position: relative;
  width: 24px;
  height: 24px;
}
.header-button .header-login{
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.header-button .header-login button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-size: 12px;
  color: #fff;
  height: 32px;
  border-radius: 4px;
  background-color: #242424;
}
/*메인*/
main{
  width: 100%;
  height: 100%;
}
main .container{
  width: 100%;
  height: 100%;
}
/*서브-헤더*/
.sub-header{
  z-index: 1;
  top: 65px;
  position: sticky;
  background-color: #fff;
}
.sub-headerbar{
  width: 100%;
  height: 38px;
  display: flex;
}
.Mybookcase{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  opacity: 0;
}
.plus{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 4.25%;
  display: flex;
  align-items: center;
  height: 100%;
}
.plus-button{
  display: flex;
  width: 25px;
  height: 25px;
  padding: 6px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
/*메인-전체*/
.content{
  margin-top: 65px;
  display: flex;
  width: 100%;
  padding: 0px 4.25%;
  overflow: hidden;
}
/*메인-왼쪽*/
.left{
  width: 27.5%;
  padding: 0px 20px;
}
.left section{
  padding: 0px 0px 24px;
}
/*메인-왼쪽-프로필*/
.profile{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.profile-element{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.profile-image{
  display: inline-block;
  width: 80px;
}
.profile-image img{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
}
.profile-name{
  display: flex;
  flex-direction: column;
}
.profile-name span{
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #242424;
}
.before{
  align-items: center;
  margin-left: 4px;
  font-weight: 700;
  color: #6f6f6f;
}
.profile-tag{
  display: flex;
}
.profile-tag a{
  display: flex;
  gap: 4px;
}
.profile-tag span{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}
.profile-tag .select{
  font-weight: 700;
}
.post{
  position: relative;
}
.post1{
  opacity: 1;
}
.post2{
  margin-top: -125px;
  opacity: 0;
}
/*메인-왼쪽-하이라이트*/
.highlights{
  display: flex;
  margin: 20px -8px;
  justify-content: space-between;
  align-items: center;
}
.highlights a{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.highlights-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.highlights-num{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
.highlights-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
}
/*메인-왼쪽-버튼*/
.button{
  display: flex;
  gap: 12px;
}
.write{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #242424;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100px;
}
.book{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  color: #242424;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100px;
}
/*메인-왼쪽-광고*/
.post{
  margin-top: 16px;
}
.post img{
  width: 100%;
  height: 62px;
}
/*메인-오른쪽*/
.right{
  width: 75%;
  padding-left: 44px;
}
.right-title{
  display: flex;
  position: relative;
  flex-direction: column;
  gap:2px;
}
.right-title h4{
  display: flex;
  gap: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #242424;
  width: 100%;
}
.right-title p{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6f6f6f;
}
.right-title a{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6f6f6f;
  cursor: pointer;
}
.right-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 24px 0px;
  gap: 12px;
  overflow: hidden;
}
/*메인-오른쪽-추천 도서*/
.book-content{
  display: flex;
  flex-direction: column;
  width: 100px;
}
.book-list{
  display: flex;
  align-items: baseline;
}
.book{
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.book-select{
  width: 100px;
  display: flex;
  align-items: flex-end;
}
.book-element{
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 8px;
}
.book-element img{
  width: 100px;
  height: 160px;
  border-radius: 10px;
}
.book-option{
  width: 100%;
  text-align: left;
}
.book-name{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.book-sub{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.book a{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 15px;
}
/*메인-오른쪽-책장*/
.bookcase{
  display: flex;
  flex-direction: column;
  width: 148px;
}
.bookcase-image{
  margin-right: 16px;
  width: 148px;
  height: 148px;
}
.bookcase-image img{
  width: 100%;
  height: 100%;
  object-fit:  cover;
}
.bookcase-name p{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
  margin-left: 1px;
}
.bookcase-name span{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #6f6f6f;
}
/*메인-오른쪽-달력*/
.calendar img{
  width: 100%;
  height: 375px;
}
/*메인-오른쪽-리포트*/
.riport-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.riport-list li{
  width: 100%;
  height: 20px;
}
.riport-list li .target{
  display: table-cell;
  padding-right: 8px;
  color: #242424;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.prograss-bar{
  display: table-cell;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #f7f7f7;
}
.prograss-state-mili{
  width: 40%;
  height: 20px;
  background-color: #c1c1c1;
}
.count{
  display: table-cell;
  padding-left: 8px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
/*메인-오른쪽-독서 활동*/
.read{
  width: 100%;
  height: 100%;
  display: flex;
}
.read-book{
  margin-right: 12px;
  position: relative;
  display: flex;
  width: 157px;
  height: 160px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #f7f7f7;
}
.read-book a{
  padding: 16px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  position: relative;
}
.read-book a div{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.read-book a img{
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 68px;
  height: 68px;
}
.read-name{
  color: #6f6f6f;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.read-caption{
  color: #242424;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
/*반응형*/
@media  screen and (max-width:1440px) {
  header .container{
    padding: 0px 24px;
  }
  .content{
    padding: 0px 24px;
  }
  .plus{
    padding-right: 24px;
  }
}
@media  screen and (max-width:1024px) {
  .plus{
    padding-right: 14px;
  }
  .Mybookcase{
    opacity: 1;
  }
  .content{
    flex-direction: column;
    
  padding: 0px 1%;
  }
  .left{
    width: 100%;
  }.right{
    width: 100%;
  }
  .post1{
    opacity: 0;
  }
  .post2{
    opacity: 1;
  }
}
@media  screen and (max-width:768px) {
  main{
    top: 64px;
  }
  .sub-header{  
  top: 0px;
  }
  header{
    top: auto;
    bottom: 0;
  }
}